.contenedor{
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;           /* Altura completa de la vista */
}
.titulo{
    font-family: "Raleway", sans-serif;
}
.inputs{
    margin: 10px 30px;
}
.btn:hover{
    outline: 1 px solid red;
    background-color: white;
    color: red;
    transition: 1.5s;
}
.input_registro{
    width: 95%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.187);
    outline: none;
    border-radius: 10px;
}
.input_registro:hover{
    box-shadow: 0px 0px 5px 0.1px red;
    transition: 0.2s;

}